{% load django_bootstrap5 %}
{% load bootstrap_icons %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Books</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        a{text-decoration:none;}
    </style>
</head>
<body>
    <button type="button" id="refresh_book_cache" class="btn btn-primary">Refresh</button>

{% load static %}

<form id="upload_form" action="/book/upload_book" method="post" enctype="multipart/form-data" >
<input type="file" class="form-control form-control-sm" name="uploadEpub" id ="uploadEpub">{% csrf_token %}
</form>
<div class="row g-1">
<input type="text" class="form-control"  id="filterInput">
</div>
<div class="row row-cols-3 row-cols-md-2 g-1 m-1">
{% for book in books %}
  <div class="card shadow h-100 m-1" style="max-width: 9rem;">
    <a href="book/{{book.book_id}}" class="link-secondary" >
    <img alt="{{book.book_name}}"  class="card-img-top" onerror="this.onerror=null; this.remove();" src="{{book_dir}}{{book.book_id}}/{{book.book_id}}.jpg">
    <div class="card-body"  > 
      <p class="card-text" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">{{book.book_name}}<span style="display:none;">{{book.tags}}{{book.language}}</span></p>
    </div>
    <div class="card-footer" style="font-size:9px;text-align:right;">{% widthratio book.last_read_index book.total_page 100%}%</div>
</a>
  </div>
{% endfor %}

</div>
<script>
    $("#filterInput").on("input",function(){
        var filtertext = $("#filterInput").val();
        console.log(filtertext);
        $(".card").each(function(index,element){
            if(element.innerText.indexOf(filtertext)>-1){
                $(element).removeClass("d-none");
            }else{
                $(element).addClass("d-none");
            }
        });

    });
    $("#uploadEpub").on("change",function(){
        $("#upload_form").submit();
    });

    $("#refresh_book_cache").click(function(){
        $.ajax({
            url:"/book/refresh_book_cache",
            type:"get",
            success:function(data){
                console.log(data);
                location.reload();
            }
        });

    });
</script>

</body>
</html>